body {
    background: #f5c7f7;
    font-family: 'Pacifico', cursive;
;
}

.styling {
    background: linear-gradient(359deg, rgb(150, 192, 255) -17.7%, rgb(255, 180, 161) 101.5%);
    max-width: 600px ;
    margin: 45px auto;
    padding: 30px;
    box-shadow: 0 30px 50px rgb(65, 50, 100, 0.00);
    border-radius: 16px;
    
}
header{

    padding:0 0 30px ;
}

.form-search {
    color:  #c50d66;

}

.search-input {
    background-color: #ffe9e3;
    color:  #9896f1;
    font-family:'Pacifico', cursive ;
    border: none;
    padding: 15px 20px;
    width: 80%;
    border-radius: 6px;
    font-size: 19px;
}

.submit-input {
    background: #ffe9e3;
    color: #9ba6a5;
    font-family:'Pacifico', cursive ;
    font-size: 19px;
    margin-left: 5px;
    border: none;
    padding: 15px 30px;
    border-radius: 6px;
}

.weather-city{
    margin: 0;
    font-size:36px ;
    line-height: 48px;
}

.weather-details {
    font-weight: 450;
font-size: 16px;
font-weight: 500;
line-height: 24px;
}
#speed-wind {
    color: #7c73e6;
}

#HumidityInfo {
    color: #7c73e6;
}

strong {
 color: #7c73e6; 
}

.weather-details strong {
    color: bisque;
}
main{
    color:  #9896f1;
    padding: 3opx;
}

.weather-info {
    display: flex;
    justify-content: space-between;

}

.temperature {
    display: flex;
}

.temperature-value {
    font-size: 90px;
    font-weight: bold;
    line-height: 88px;
}
.temperature-unit {
margin-top: 6px ;
font-size: 27px;
}
.icon {
    width: 88px;
    height: 88px;
}

.weather-foretell{
    display: flex;
    justify-content: space-around;
    margin-top: 28px;
}
.weatherForetell-icon {
    display: block;
    margin: 0 auto;
    width: 88px;
    height: 88px;
}
.forecast-temperature {
    font-size: 14px;
}
.weather-foretell-1stDay{
    font-size: 16px;
    opacity: 0.4;
}
.temperature-min {
    opacity: 0.4;
}
a {
   color: #7c73e6;
}
footer{ 
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 14px;
    color: #9896f1 ;
}